#calccontainer {
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}

#historybox {
    text-align: right;
    background-color: rgb(233, 233, 233);
    padding: 0px;
    margin: 30px 10px 10px 150px;
    font-size: 12px;
}

#numberbox {
    text-align: right;
    background-color: rgb(233, 233, 233);
    padding: 0px;
    margin: 10px 10px 10px 50px;
    font-size: 30px;
}

p {
    margin: 5px 0px 5px 0px;
}

#inputbox {
    margin: auto;
    padding-top: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 30px;
    width: 450px;
}

button {
    height: 75px;
    font-size: 18px;
    border-radius: 4px;
}

.opbut {
    background-color: rgb(202, 202, 202);
}